<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div class=" container text-center">
<h1>Home Page</h1>
    <div class="p-2">
        <a class="h2" th:href="@{items}">List Categories</a>

    </div>
    <div class="p-2">
        <a class="h2" th:href="@{items/new}">Create Category</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{products}">List Products</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{products/new}">Create Product</a>
    </div>

    <div class="p-2">
        <a class="h2" th:href="@{soldProducts}">Sold Products</a>
    </div>
</div>
</body>
</html>