<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List products</title>
</head>
<body>
<div class=" container text-center">
<h1>Products List</h1>
    <div>
        <table class="table table-bordered">
            <thead class="table-dark">
            <tr>
               <th>Id</th>
               <th>Name</th>
               <th>Price</th>
               <th>Quantity</th>
               <th>Item</th>
                <th>Unit</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
               <th:block th:each="product : ${listProducts}">

                   <tr>
                       <td>[[${product.id}]]</td>
                       <td>[[${product.name}]]</td>
                       <td>[[${product.price}]]</td>
                       <td th:text="${product.quantity}"></td>
                       <td>[[${product.item.name}]]</td>
                       <td th:text="${product.unitType.unitName}"></td>
                       <td>
                           <a th:href="@{'/products/edit/'+ ${product.id}}">Edit</a>
                           &nbsp:
                           <a th:href="@{'/products/delete/'+ ${product.id}}">Delete</a>
                           &nbsp:
                           <a th:href="@{'/products/sell/'+ ${product.id}}">Sell</a>
                       </td>
                   </tr>

               </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>