<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new Product</title>
</head>
<body>
<div class=" container text-center">
<div th:if="${product.id == null}"><h1>Create Product</h1></div>
<div th:unless="${product.id == null}"><h1>Edit Product</h1></div>
   <div>
       <form th:action="@{/products/save}" th:object="${product}" method="post">
           <div class="m-3">
               <input  type="hidden" th:field="*{id}" th:value="${product.id}">
               <div class="form-group-row">
                   <label class="col-form-label col-sm-4">Product Name</label>
               <div class="col-sm-8">
                   <input type="text" th:field="*{name}" clas="form-control" required>
               </div>
           </div>

               <div class="form-group-row">
                   <label class="col-form-label col-sm-4">Product Price</label>
                   <div class="col-sm-8">
                       <input type="number" step="0.1" th:field="*{price}" clas="form-control" required>
                   </div>
               </div>

               <div class="form-group-row">
                   <label class="col-form-label col-sm-4">Product quantity</label>
                   <div class="col-sm-8">
                       <div th:if="${product.id == null}">
                           <input type="number"  th:field="*{quantity}" clas="form-control" required>
                       </div>

                       <div th:unless="${product.id == null}">
                           <input type="number"  th:field="*{quantity}" clas="form-control" readonly>
                       </div>

                   </div>
               </div>

               <div class="form-group-row">
                   <label class="col-form-label col-sm-4">Item</label>
                   <div class="col-sm-8">
                       <select th:field="*{item}" class="form-control" required>

                           <option th:each="i : ${itemList}"
                                     th:text="${i.name}" th:value="${i.id}"></option>
                       </select>
                   </div>
               </div>


               <div class="form-group-row">
                   <label class="col-form-label col-sm-4">Unit</label>

                   <select th:field="*{unitType}">

                       <option th:each="type : ${unitTypes}"

                               th:text="${type.unitName}"
                               th:value="${type}"></option>

                   </select>
               </div>

               <div class="text-center p-3">
                   <button type="submit" class="btn btn-primary">Save</button>
               </div>
           </div>
       </form>
   </div>
</div>
</body>
</html>