<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of sold products</title>
</head>
<body>
<div class=" container text-center">
<h1>Sold products list</h1>
    <div>
        <table class="table table-bordered">
            <thead class="table-dark">
            <tr>
               <th>Name</th>
               <th>Quantity</th>
               <th>Date</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
               <th:block th:each="sold : ${soldProducts}">

                   <tr>
                       <td th:text="${sold.productName}"></td>
                       <td th:text="${sold.soldquantity}"></td>
                       <td th:text="${sold.date}"></td>
                   </tr>

               </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>