<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List products</title>
</head>
<body>
<div class=" container text-center">
    <div><h1>Sell Product</h1></div>
    <div>
        <form th:action="@{/sold_products/save}" th:object="${product}" method="post">
            <div class="m-3">
                <input  type="hidden" th:field="*{id}" th:value="${product.id}">
                <div class="form-group-row">
                    <label class="col-form-label col-sm-4">Product Name</label>
                    <div class="col-sm-8">
                        <input type="text" th:field="*{name}" clas="form-control" readonly>
                    </div>
                </div>

                <div class="form-group-row">
                    <label class="col-form-label col-sm-4">Product Price</label>
                    <div class="col-sm-8">
                        <input type="number" step="0.1" th:field="*{price}" clas="form-control" readonly>
                    </div>
                </div>


                <div class="form-group-row">
                    <label class="col-form-label col-sm-4">Sold quantity</label>
                    <div class="col-sm-8">
                        <input type="number"  th:field="*{soldCount}"  clas="form-control" required>
                    </div>
                </div>

                <input type="hidden"  th:text="${product}" th:value="${product.id}">

                <div class="text-center p-3">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>